<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeConnect</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body> 
    <header>
    <!-- NavBar Content here -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand brand-style" href="index.html">WeConnect</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-3">
                    <a class="nav-link" href="#">Welcome <span class=""> User</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="index.html">SignOut</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
            
    <!-- Main -->
    <div class='content content-bg'>   
    <!-- This is the page content -->
    <div class="container">
        <!-- Jumbotron Heading and Profile business Button -->
        <div class="jumbotron jumbotron-fluid text-light">
                <h1 class="display-4 lead">WeConnect</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                <a class="btn btn-success btn-lg" data-toggle="modal" data-target="#businessProfile">Create Profile</a>
            </div>
        <!-- </div> -->

        <!-- Use Bootstrap card to implement each card -->
            <div class="row">
                <div class="col-md-4 text-center pb-5">
                    <div class="card">
                            <img class="card-img-top" src="img/card_img_1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">X-Plug Nig. Ltd</h5>
                            <p class="card-text">The website designing and maintenance done by X-Plug Solutions team is excellent and awesome. This team has always been on time and on site, taking more than enough care for my business website</p>
                            <a href="profile.html"><small class="see-more-link">see more details...</small></a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">2 reviews</small>
                            <div class="mt-4 text-light">
                                <a data-toggle="modal" data-target="#updateProfile" class="btn btn-primary btn-sm mx-3 my-3">Update Profile</a>
                                <a class="btn btn-secondary btn-sm mx-3">Delete Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4 text-center pb-5">
                    <div class="card">
                            <img class="card-img-top" src="img/card_img_2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">SISA Travels and Tours</h5>
                            <p class="card-text">SISA has stepped up their game with their lead generation. You have got to check this out yourself to understand. It's quite impressive,we get a minimum of 5-10 leads daily.</p>
                            <a href="profile.html"><small class="see-more-link">see more details...</small></a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">1 review</small>
                            <div class="mt-4 text-light">
                                <a data-toggle="modal" data-target="#updateProfile" class="btn btn-primary btn-sm mx-3 my-3">Update Profile</a>
                                <a class="btn btn-secondary btn-sm mx-3">Delete Profile</a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>

    </div>

    <!-- Business Profile Modal -->
    <div class="modal fade" id="businessProfile" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered profile-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Business Profile Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group mb-3">
                            <label for="name">Business Name</label>
                            <input type="text" class="form-control" id="name" >
                        </div>
                        <div class="form-group mb-3">
                            <label for="product">Product &amp; Services</label>
                            <input type="text" class="form-control" id="product" rows="3">
                        </div>
                        <div class="form-group mb-3">
                            <label for="address">Business Address</label>
                            <input type="text" class="form-control" id="Password1">
                        </div>
                        <div class="form-group mb-3">
                            <label for="businessCatory">Business Category</label>
                            <select class="form-control" id="businessCategory">
                                <option>- Select Category -</option>
                                <option>Information Technology</option>
                                <option>Banking and Finance</option>
                                <option>Production and Manufaction</option>
                                <option>Travels and Tourism</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="businessLocation">Business Location</label>
                            <select class="form-control" id="businessLocation">
                                <option>- Select Location -</option>
                                <option>Lagos</option>
                                <option>Abuja</option>
                                <option>Port Harcourt</option>
                                <option>Kano</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="imageUpload">Business Image Upload</label>
                            <input type="file" class="form-control-file" id="imageUpload" >
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary"><a href="dashboard.html" class="text-light">Submit</a></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Profile Modal -->
    <div class="modal fade" id="updateProfile" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Business Profile Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form>
                        <div class="form-group mb-3">
                            <label for="name">Business Name</label>
                            <input  type="text" class="form-control" id="name" value="XYZ Nig.Ltd" readonly>
                        </div>
                        <div class="form-group mb-3">
                            <label for="address">Business Address</label>
                            <input type="text" class="form-control" id="Password1" value="5, abc, street, lagos">
                        </div>
                        <div class="form-group mb-3">
                            <label for="product">Product &amp; Services</label>
                            <textarea type="text" class="form-control" id="product" rows="3" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, itaque."></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <label for="businessCatory">Business Category</label>
                            <select class="form-control" id="businessCategory">
                                <option>Information Technology</option>
                                <option>Banking and Finance</option>
                                <option>Production and Manufaction</option>
                                <option>Entertainment Industry</option>
                                <option>Legal Sector</option>
                                <option>Educational Sector</option>
                                <option>Food and Agriculture</option>
                                <option>Travels and Tourism</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="businessLocation">Business Location</label>
                            <select class="form-control" id="businessLocation">
                                <option>Nigeria</option>
                                <option>United States</option>
                                <option>United Kingdom</option>
                                <option>China</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="imageUpload">Business Image Upload</label>
                            <input type="file" class="form-control-file" id="imageUpload" >
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary"><a href="dashboard.html" class="text-light">Update</a></button>
                </div>
            </div>
        </div>
    </div>


            
    <!-- Footer -->
    <footer class="bg-dark text-light text-center p-2">
    <!-- Footer Content Here -->
        <div class="container">
            <span> WeConnect.com by Oniovosa Lucky Omokarho &copy;2018</span>
        </div>
    </footer>

    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
