<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WeConnect</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
    <!-- NavBar Content here -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand brand-style" href="index.html">WeConnect</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-3">
                        <a class="nav-link" href="catalog.html">Catalog</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
            
    <!-- Main -->
    <div class='content content-bg'>   
            <!-- This is the page content -->
            <div class="main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mx-auto m-4">
                            <div class="card">
                                <a>
                                    <img class="card-img-top" src="img/card_img_2.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body text-muted text-center">
                                    <h5 class="card-title">SISA Travels and Tours</h5>
                                    <p class="card-text">SISA has stepped up their game with their lead generation. You have got to check this out yourself to understand. It's quite impressive,we get a minimum of 5-10 leads daily.</p><hr>
                                    
                                    <ul class="list-group">
                                        <button class="btn btn-outline-primary border-0 rounded-0">Business Category</button><li class="list-group-item list-group-item mb-3">Information &amp; Communication Technology</li>
    
                                        <button class="btn btn-outline-primary border-0 rounded-0">Address</button><li class="list-group-item list-group-item mb-3">5, abc road, xyz, Lagos, Nigeria</li>
                                        
                                        <button class="btn btn-outline-primary border-0 rounded-0">Phone</button>
                                        <li class="list-group-item list-group-item-light mb-3">080-1234-5678</li>
                                        
                                        <button class="btn btn-outline-primary border-0 rounded-0">E-mail</button>
                                        <li class="list-group-item list-group-item mb-3">info@sisatravelsandtours.com</li>
    
                                        <button class="btn btn-outline-primary border-0 rounded-0">Website</button>
                                        <li class="list-group-item list-group-item-light">www.sisatravelsandtours.com</li>
                                        
                                    </ul>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted mb-2 lead">Reviews</small><br>
                                    <small class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio dolore dolorem sed.</small><br>
                                    <small class="text-muted float-right">A.Citrus</small><br>
                                    <a class="btn btn-primary btn-sm text-light" data-target="#reviewsForm" data-toggle="modal">Add Review</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    
         <!-- Reviews Form Modal -->
         <div class="modal fade" id="reviewsForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Reviews</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Name</label>
                            <input type="text" class="form-control" id="formGroupExampleInput">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Email</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Review</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Country</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" ><a class="text-light" href="profile.html" >Submit</a></button>
                </div>
            </div>
            </div>
        </div>
           
        




    <!-- Footer -->
    <footer class="bg-dark text-light text-center p-2">
    <!-- Footer Content Here -->
        <div class="container">
            <span> WeConnect.com by Oniovosa Lucky Omokarho &copy;2018</span>
        </div>
    </footer>

    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>