/* font-face style for navbar brand and Jumbotron Heading */
@font-face{
    font-family: "LobsterTwo";
    src: url("font/LobsterTwo-Regular.ttf");
}

/* This style will always keep footer to the button of the page using flexbox */
*{
    margin: 0; 
    padding: 0;
  }
  html, body{
    height: 100%; 
  }
  body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
  }
  .content{
    flex: 1;
  }
  
  /* background color on the index page */
  .content-bg{
    background-image: url("../img/12_bg.jpg") !important;
    background-size: cover;
    background-repeat: repeat;;
    
  }

  /* Add style to Navbar Brand Content */
  .brand-style{
    font-family: 'LobsterTwo' !important;
    font-weight: 500;
    font-size: 2.0rem;
    color:#fff !important;
    padding:0px;
    margin:0 20px 0 0;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
  }

/* font style for main heading on the index page */
.display-4{
    font-family: "LobsterTwo";
    text-shadow: 1px 1px 1px rgb(255, 255, 255);   
}

/* this style change the color of the <hr> element */
hr{
    border-color: rgb(160, 160, 160);
}

/* remove the default background of the bootstrap jumbotron */
.jumbotron{
  background: 0;
}

.space-top{
  margin-top: -20px;
}
  



  


/* another way to alway keep footer at the button */
/* * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  .page-wrap {
    min-height: 100%;
    margin-bottom: -50px; /* Height of the footer */
  /*}
  .page-wrap:after {
    content: "";
    display: block;
  }
  .page-footer, .page-wrap:after {
    height: 50px; 
  }
  .page-footer {
    background: orange;
  } */