/* font-face style for navbar brand and Jumbotron Heading */
@font-face{
    font-family: "LobsterTwo";
    src: url("font/LobsterTwo-Regular.ttf");
}

/* This style will always keep footer to the button of the page using flexbox */
*{
    margin: 0; 
    padding: 0;
  }
  html, body{
    height: 100%; 
  }
  body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
  }
  .content{
    flex: 1;
    background: #ddd;
  }

  /* Add style to Navbar Brand Content */
  .brand-style{
    font-family: 'LobsterTwo' !important;
    font-weight: 500;
    font-size: 1.5rem;
    color:#fff !important;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
  }








/* another way to alway keep footer at the button */
/* * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  .page-wrap {
    min-height: 100%;
    margin-bottom: -50px; /* Height of the footer */
  /*}
  .page-wrap:after {
    content: "";
    display: block;
  }
  .page-footer, .page-wrap:after {
    height: 50px; 
  }
  .page-footer {
    background: orange;
  } */